
<style>
.well-no-visible {
   background-color: rgba(245, 245, 245, 0.0);
   border: 0;
   position:relative;
   right:3%;
   -webkit-box-shadow: initial ;
   -moz-box-shadow: initial ;
   box-shadow: initial ;
}
</style>
<div class="well well-no-visible border-top-0">
<table cellspacing="0">
 <tr class="no-pad">
 <td class="no-pad">
	<a class='nounder' style="text-decoration: none" href="http://hoffman.physics.harvard.edu/research/MBEresearch.php">MBE-grown FeSe</a><br>
	<a href="http://hoffman.physics.harvard.edu/research/MBEresearch.php"><img width="125" src="http://hoffman.physics.harvard.edu/materials/images/materials_thumbs/FeSe_MBE1_thumb.jpg" alt="first FeSe"></a>
 </td>
 <td class="no-pad">
        <a class='nounder' style="text-decoration: none" target="_blank" href="http://link.aps.org/doi/10.1103/PhysRevLett.102.097002">Ba(Fe<sub>1-x</sub>Co<sub>x</sub>)<sub>2</sub>As<sub>2</sub></a><br>
        <a target="_blank" href="http://link.aps.org/doi/10.1103/PhysRevLett.102.097002"><img width="125" src="http://hoffman.physics.harvard.edu/materials/images/materials_thumbs/BaCoFeAs_thumb.jpg" 
alt="Ba(Fe<sub>1-x</sub>Co<sub>x</sub>)<sub>2</sub>As<sub>2</sub>"></a>
 </td>
 <td class="no-pad">
        <a class='nounder' style="text-decoration: none" href="http://dx.doi.org/10.1103/PhysRevB.92.134509">NdFeAsO<sub>1-x</sub>F<sub>x</sub></a><br>
        <a href="http://dx.doi.org/10.1103/PhysRevB.92.134509"><img  width="125" src="http://hoffman.physics.harvard.edu/materials/images/materials_thumbs/NdFeAsO_thumb.jpg" alt="NdFeAsO<sub>1-x</sub>F<sub>x</sub>"></a>
 </td>
 <td class="no-pad">
        <a class='nounder' style="text-decoration: none" target="_blank" href="http://prb.aps.org/abstract/PRB/v87/i20/e201108">Pr<sub>x</sub>Ca<sub>1-x</sub>Fe<sub>2</sub>As<sub>2</sub></a><br>
        <a target="_blank" href="http://prb.aps.org/abstract/PRB/v87/i20/e201108"><img  width="125" src="http://hoffman.physics.harvard.edu/materials/images/materials_thumbs/PrCaFe2As2_thumb.jpg" 
alt="Pr<sub>x</sub>Ca<sub>1-x</sub>Fe<sub>2</sub>As<sub>2</sub>"></a>
 </td>
 <td class="no-pad">
        <a class='nounder' style="text-decoration: none" target="_blank" href="http://dx.doi.org/10.1126/science.1248221">Bi<sub>2</sub>Sr<sub>2</sub>CuO<sub>6+x</sub></a>
        <a target="_blank" href="http://dx.doi.org/10.1126/science.1248221"><img  width="125" src="http://hoffman.physics.harvard.edu/materials/images/materials_thumbs/Bi2201_thumb.jpg" alt="Bi-2201"></a>
 </td>
 </tr>
 <tr class="no-pad">
 <td class="no-pad">
        <a class='nounder' style="text-decoration: none" href="">Bi<sub>2</sub>Se<sub>3</sub></a><br>
        <a target="_blank" href="http://dx.doi.org/10.1103/PhysRevB.91.161306"><img  width="125" src="http://hoffman.physics.harvard.edu/materials/images/materials_thumbs/Bi2Se3_thumb.jpg" alt="Bi<sub>2</sub>Se<sub>3</sub>"></a>
 </td>
 <td class="no-pad">
        <a class='nounder' style="text-decoration: none" target="_blank" href="http://www.sciencemag.org/cgi/content/full/337/6092/320?ijkey=gjOu0n6ybN2vU&keytype=ref&siteid=sci">Bi<sub>2</sub>Sr<sub>2</sub>CaCu<sub>2</sub>O<sub>8+x</sub></a>
        <a target="_blank" href="http://www.sciencemag.org/cgi/content/full/337/6092/320?ijkey=gjOu0n6ybN2vU&keytype=ref&siteid=sci"><img  width="125" src="http://hoffman.physics.harvard.edu/materials/images/materials_thumbs/Bi2212_thumb.jpg" alt="Bi-2212"></a>
 </td>
 <td class="no-pad">
        <a class='nounder' style="text-decoration: none" target="_blank" href="http://arxiv.org/abs/1311.1758">Sb(111)</a><br>
        <a target="_blank" href="http://arxiv.org/abs/1311.1758"><img  width="125" src="http://hoffman.physics.harvard.edu/materials/images/materials_thumbs/Sb111_thumb.jpg" alt="Sb(111)"></a>
 </td>
 <td class="no-pad">
        <a class='nounder' style="text-decoration: none" target="_blank" href="http://dx.doi.org/10.1063/1.3435466">VO<sub>2</sub></a><br>
        <a target="_blank" href="http://dx.doi.org/10.1063/1.3435466"><img  width="125" src="http://hoffman.physics.harvard.edu/materials/images/materials_thumbs/VO2_thumb.jpg" alt="VO<sub>2</sub>"></a>
 </td>
  <td class="no-pad">
        <a class='nounder' style="text-decoration: none" href="#">Nd<sub>2</sub>Fe<sub>14</sub>B</a><br>
        <a href=""><img  width="125" src="http://hoffman.physics.harvard.edu/materials/images/materials_thumbs/NdFeB_thumb.gif" alt="Nd<sub>2</sub>Fe<sub>14</sub>B"></a>
 </td>
</tr>
<tr class="no-pad">
  <td class="no-pad"> 
        <a class='nounder' style="text-decoration: none" target="_blank" href="http://arxiv.org/abs/1308.1085">SmB<sub>6</sub></a><br>
        <a target="_blank" href="http://arxiv.org/abs/1308.1085"><img  width="125" src="http://hoffman.physics.harvard.edu/materials/images/materials_thumbs/SmB6_thumb.jpg" alt="SmB<sub>6</sub>"></a>
 </td>
  <td class="no-pad">
        <a class='nounder' style="text-decoration: none" target="_blank" href="http://prb.aps.org/abstract/PRB/v87/i21/e214519">K<sub>x</sub>Sr<sub>1-x</sub>Fe<sub>2</sub>As<sub>2</sub></a><br>
        <a target="_blank" href="http://prb.aps.org/abstract/PRB/v87/i21/e214519"><img  width="125" src="http://hoffman.physics.harvard.edu/materials/images/materials_thumbs/Sr122_thumb.jpg" alt="K<sub>x</sub>Sr<sub>1-x</sub>Fe<sub>2</sub>As<sub>2</sub>"></a>
 </td>
  <td class="no-pad">
        <a class='nounder' style="text-decoration: none" href="">Li<sub>0.9</sub>Mo<sub>6</sub>O<sub>17</sub></a><br>
        <a href=""><img  width="125" src="http://hoffman.physics.harvard.edu/materials/images/materials_thumbs/LMO_thumb.jpg" alt="Li<sub>0.9</sub>Mo<sub>6</sub>O<sub>17</sub>"></a>
 </td>
  <td class="no-pad">
        <a class='nounder' style="text-decoration: none" target="_blank" href="http://arxiv.org/abs/1310.6733">La<sub>2</sub>SrMn<sub>2</sub>O<sub>7</sub></a><br>
        <a target="_blank" href="http://arxiv.org/abs/1310.6733"><img  width="125" src="http://hoffman.physics.harvard.edu/materials/images/materials_thumbs/LSMO_thumb.jpg" alt="La<sub>2-2x</sub>Sr<sub>1+2x</sub>Mn<sub>2</sub>O<sub>7</sub>"></a>
 </td>
 <td>
        <a class='nounder' style="text-decoration: none" target="_blank" href="http://www.pnas.org/cgi/doi/10.1073/pnas.1211387110">NbSe<sub>2</sub></a><br>
        <a target="_blank" href="http://www.pnas.org/cgi/doi/10.1073/pnas.1211387110"><img  width="125" src="http://hoffman.physics.harvard.edu/materials/images/materials_thumbs/NbSe2_thumb.jpg" alt="NbSe<sub>2</sub>"></a>
 </td>
</tr>
</table>
</div>
