<table width="100%">     
 <tr>     
 <td width="20%">
        <p class="center"><a class="nounder" href="{{ site.url }}{{ site.baseurl }}/research/STMmain">STM</a><br>                                                  
        <a href="{{ site.url }}{{ site.baseurl }}/research/STMmain"><img border="0" height="200" src="{{ site.url }}{{ site.baseurl }}/images/STM_photo_thumb.jpg" alt="STM"></a></p>                   
 </td>
 <td width="20%">
        <p class="center"><a class="nounder" href="{{ site.url }}{{ site.baseurl }}/research/FMmain">MFM / CAFM</a><br>                                                            
        <a href="{{ site.url }}{{ site.baseurl }}/research/FMmain"><img border="0" height="200" src="{{ site.url }}{{ site.baseurl }}/images/FM_photo_thumb.jpg" alt="MFM"></a></p>                        
 </td>
 <td width="20%">
        <p class="center"><a class="nounder" href="{{ site.url }}{{ site.baseurl }}/research/MBESTMmain">MBE-STM</a><br>                             
        <a href="{{ site.url }}{{ site.baseurl }}/research/MBESTMmain"><img border="0" height="200" src="{{ site.url }}{{ site.baseurl }}/images/SPSTM_photo_thumb.jpg" alt="MBE-STM"></a></p>                                
 </td>                
 <td width="35%">
	<p style="margin-left:3em; margin-right:2em; text-align:center">These microscopes are housed in a low-vibration laboratory designed by <a herf="http://www.wilsonarch.com/">Wilson 
Architects</a>.<br><br>
<a href="http://www.wilsonarch.com/"><img border="0" src="{{ site.url }}{{ site.baseurl }}/images/Wilson-architects-logo.png" alt="Wilson logo"></a></p>
 </td>
</tr>
</table>
